---
title: Install
slug: install
---

<p>AsteroidOS can be installed as an alternative operating system on various smartwatches. Instructions for each model can be found below:</p>
<p>If you have questions regarding the installation process, please check out the <b>FAQ</b> section.</p>

<a href="{{rel 'install/anthias'}}"><div class="install-box">
  <img src="{{assets}}/img/anthias.png" width="100%"><br>
  <b>Asus Zenwatch 1</b><br>(anthias)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span><span style="color:#CCC"><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel 'install/bass'}}"><div class="install-box">
  <img src="{{assets}}/img/bass.png" width="100%"><br>
  <b>LG G Watch Urbane</b><br>(bass)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/dory'}}"><div class="install-box">
  <img src="{{assets}}/img/dory.png" width="100%"><br>
  <b>LG G Watch</b><br>(dory)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span><span style="color:#CCC"><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/harmony'}}"><div class="install-box">
  <img src="{{assets}}/img/harmony.png" width="100%"><br>
  <b>MTK6580 watches</b><br>(harmony)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/inharmony'}}"><div class="install-box">
  <img src="{{assets}}/img/inharmony.png" width="100%"><br>
  <b>MTK6580 watches</b><br>(inharmony)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/lenok'}}"><div class="install-box">
  <img src="{{assets}}/img/lenok.png" width="100%"><br>
  <b>LG G Watch R</b><br>(lenok)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span><span style="color:#CCC"><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/mooneye'}}"><div class="install-box">
  <img src="{{assets}}/img/mooneye.png" width="100%"><br>
  <b>Ticwatch E & S</b><br>(mooneye)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span><span style="color:#CCC"><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/sparrow'}}"><div class="install-box">
  <img src="{{assets}}/img/sparrow.png" width="100%"><br>
  <b>Asus Zenwatch 2</b><br>(sparrow)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span><span style="color:#CCC"><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/swift'}}"><div class="install-box">
  <img src="{{assets}}/img/swift.png" width="100%"><br>
  <b>Asus Zenwatch 3</b><br>(swift)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span><span style="color:#CCC"><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/tetra'}}"><div class="install-box">
  <img src="{{assets}}/img/tetra.png" width="100%"><br>
  <b>Sony Smartwatch 3</b><br>(tetra)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i></span><span style="color:#CCC"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/wren'}}"><div class="install-box">
  <img src="{{assets}}/img/wren.png" width="100%"><br>
  <b>Asus Zenwatch 2</b><br>(wren)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span><span style="color:#CCC"><i class="icon ion-md-star"></i></span></i>
</div></a>
<a href="{{rel '/install/sturgeon'}}"><div class="install-box">
  <img src="{{assets}}/img/sturgeon.png" width="100%"><br>
  <b>Huawei Watch</b><br>(sturgeon)<br>
  <i>Support: <span style="color:#111;"><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i><i class="icon ion-md-star"></i></span></i>
</div></a>

<div class="page-header">
  <h1>FAQ</h1>
</div>

<div class="callout">
    <h4>Will I be able to revert to the previous operating system after installing AsteroidOS on my watch?</h4>
    <p>When installing AsteroidOS on most watches, you may choose to replace your previous OS entirely or install it alongside the existing OS, called a "dual-boot". If you decide to replace your previous OS, it is advised that you make a backup of your <b>userdata</b> and <b>boot</b> partitions before flashing AsteroidOS. You will then be able to re-flash the previous OS later.</p>
</div>

<div class="callout">
    <h4>Where can I find a phone synchronization app?</h4>
    <p>A synchronization client for Android phones named "AsteroidOSSync" is <a href="https://f-droid.org/packages/org.asteroidos.sync/">available for you to download on F-Droid</a>. <br/>Ubuntu Touch users can <a href="https://open-store.io/app/telescope.asteroidos">download "Telescope" from the OpenStore</<a>.</p>
</div>

<div class="callout">
    <h4>What features will and won't work on my watch with AsteroidOS?</h4>
    <p>The available AsteroidOS features depend on the watch you want to use. Review the table in your device's installation page for detailed support information.</p>
</div>

<div class="callout">
    <h4>My watch is not listed on this page. What can I do?</h4>
    <p>You should refer to the <a href="{{rel 'wiki/porting-status'}}">Porting Status</a> page of the documentation and check if a port of AsteroidOS to your watch is possible or in progress. If you are interested in porting AsteroidOS yourself to a new watch, please read the <a href="{{rel 'wiki/porting-guide'}}">Porting Guide</a> page and contact us via IRC.</p>
</div>

<div class="callout">
    <h4>I do not want to flash a prebuilt image on my watch. Can I compile AsteroidOS myself?</h4>
    <p>Review the <a href="{{rel 'wiki/building-asteroidos'}}">Building AsteroidOS</a> page for detailed instructions on how to compile AsteroidOS yourself.</p>
</div>

<div class="callout">
    <h4>My fastboot command displays "invalid sparse file format at header magic" when starting to flash the device</h4>
    <p>This is not a fatal error and can safely be ignored.</p>
</div>

<div class="callout">
    <h4>My fastboot command crashes or hangs at "invalid sparse file format at header magi" (with a missing "c" in magic)</h4>
    <p>This error occurs when using deprecated fastboot and ADB commands on Windows systems. If you already had those commands installed and skipped downloading our <a href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip">supplied zip file</a>, please install those commands instead.</p>
</div>

<div class="callout">
    <h4>Commands fail or stop during the ~5 minute flashing process</h4>
    <p>Smartwatches are prone to lose a proper connection to their cradle over time due to sweat corroding the watch pins. This is a particularly a regular problem with dory (LG G Watch). Cleaning the pins with isopropyl alcohol or even carefully sanding them (e.g. with a nailfile) can restore a reliable connection.</p>
</div>

<div class="callout">
    <h4>My Asus Zenwatch 2 flashed successfully but does not boot</h4>
    <p>There are two versions of the Asus Zenwatch 2, codenamed Sparrow and Wren. Their images are not interchangeable. Please ensure you are using the right files.</p>
</div>
