---
title: Install
slug: install
---

<p>AsteroidOS can be installed as an alternative operating system on various smartwatches. Instructions for each model can be found below:</p>
<p>If you have questions regarding the installation process, please check out the <b>FAQ</b> section.</p>

<a href="{{rel 'install/anthias'}}"><div class="install-box">
  <img src="{{assets}}/img/anthias.jpg" width="100%"><br>
  <b>Asus Zenwatch 1</b><br>(anthias)<br>
  <i>Support: <font color="#111"><i class="icon ion-star"/><i class="icon ion-star"/></font><font color="#CCC"><i class="icon ion-star"/></font></i>
</div></a>
<a href="{{rel 'install/bass'}}"><div class="install-box">
  <img src="{{assets}}/img/bass.jpg" width="100%"><br>
  <b>LG G Watch Urbane</b><br>(bass)<br>
  <i>Support: <font color="#111"><i class="icon ion-star"/><i class="icon ion-star"/><i class="icon ion-star"/></font></i>
</div></a>
<a href="{{rel '/install/dory'}}"><div class="install-box">
  <img src="{{assets}}/img/dory.jpg" width="100%"><br>
  <b>LG G Watch</b><br>(dory)<br>
  <i>Support: <font color="#111"><i class="icon ion-star"/><i class="icon ion-star"/><i class="icon ion-star"/></font></i>
</div></a>
<a href="{{rel '/install/lenok'}}"><div class="install-box">
  <img src="{{assets}}/img/lenok.jpg" width="100%"><br>
  <b>LG G Watch R</b><br>(lenok)<br>
  <i>Support: <font color="#111"><i class="icon ion-star"/><i class="icon ion-star"/></font><font color="#CCC"><i class="icon ion-star"/></font></i>
</div></a>
<a href="{{rel '/install/sparrow'}}"><div class="install-box">
  <img src="{{assets}}/img/sparrow.jpg" width="100%"><br>
  <b>Asus Zenwatch 2</b><br>(sparrow)<br>
  <i>Support: <font color="#111"><i class="icon ion-star"/><i class="icon ion-star"/></font><font color="#CCC"><i class="icon ion-star"/></font></i>
</div></a>
<a href="{{rel '/install/wren'}}"><div class="install-box">
  <img src="{{assets}}/img/wren.jpg" width="100%"><br>
  <b>Asus Zenwatch 2</b><br>(wren)<br>
  <i>Support: <font color="#111"><i class="icon ion-star"/><i class="icon ion-star"/></font><font color="#CCC"><i class="icon ion-star"/></font></i>
</div></a>
<a href="{{rel '/install/swift'}}"><div class="install-box">
  <img src="{{assets}}/img/swift.jpg" width="100%"><br>
  <b>Asus Zenwatch 3</b><br>(swift)<br>
  <i>Support: <font color="#111"><i class="icon ion-star"/><i class="icon ion-star"/></font><font color="#CCC"><i class="icon ion-star"/></font></i>
</div></a>
<a href="{{rel '/install/tetra'}}"><div class="install-box">
  <img src="{{assets}}/img/tetra.jpg" width="100%"><br>
  <b>Sony Smartwatch 3</b><br>(tetra)<br>
  <i>Support: <font color="#111"><i class="icon ion-star"/></font><font color="#CCC"><i class="icon ion-star"/><i class="icon ion-star"/></font></i>
</div></a>

<div class="page-header">
  <h1>FAQ</h1>
</div>

<div class="callout">
    <h4>Will I be able to go back to the previous operating system after installing AsteroidOS on my watch?</h4>
    <p>When installing AsteroidOS, you can choose between replacing your previous OS or keeping a "dual-boot". If you decide to replace your previous OS, it is advised to make a backup of your <b>userdata</b> and <b>boot</b> partitions before flashing AsteroidOS, you will then be able to re-flash the previous OS later.</p>
</div>

<div class="callout">
    <h4>Where can I find a phone synchronization app?</h4>
    <p>A synchronization client for Android phones named "AsteroidOSSync" is already <a href="https://f-droid.org/packages/org.asteroidos.sync/">available to download on F-Droid</a>.</p>
</div>

<div class="callout">
    <h4>What features will and won't be working on my watch with AsteroidOS?</h4>
    <p>The available features depend on the watch you want to use AsteroidOS on. Take a look at the table in your device's installation page for detailed information on your current model's support.</p>
</div>

<div class="callout">
    <h4>My watch is not listed on this page, what can I do?</h4>
    <p>You should refer to the <a href="{{rel 'wiki/porting-status'}}">Porting Status</a> page of the documentation and check if a port of AsteroidOS to your watch is possible or in progress. If you are interested in porting AsteroidOS yourself to a new watch, please take a look at the <a href="{{rel 'wiki/porting-guide'}}">Porting Guide</a> page and get in touch with us via IRC.</p>
</div>

<div class="callout">
    <h4>I do not want to flash a prebuilt image on my watch, can I compile AsteroidOS myself?</h4>
    <p>Take a look at the <a href="{{rel 'wiki/building-asteroidos'}}">Building AsteroidOS</a> page of the documentation for detailed instructions on how to compile AsteroidOS yourself.</p>
</div>
