<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>
    {{!-- Docs master nav --}}
    {{> nav-main }}

    {{> install-header }}

    {{!-- Content --}}
    <div class="container docs-container">
      <h1>Hardware Support</h1>
      <p>Before installing AsteroidOS to your watch, make sure you are aware of the capabilities and limitations of AsteroidOS on the {{title}}. The following table should summarize the current support of this watch:</p>
      {{> body }}
      <h1>Preparation</h1>
      <div class="install-preparation-box">
        <h3>Download AsteroidOS 1.0</h3>
        Store the files in your "Downloads" folder so the later commands work<br><br>
        <a class="btn btn-primary" href="https://release.asteroidos.org/1.0/{{deviceName}}/asteroid-image-{{deviceName}}.ext4" role="button">asteroid-image-{{deviceName}}.ext4</a>
        <a class="btn btn-primary" href="https://release.asteroidos.org/1.0/{{deviceName}}/zImage-dtb-{{deviceName}}.fastboot" role="button">zImage-dtb-{{deviceName}}.fastboot</a>
        <br><br><img src="{{assets}}/img/{{deviceName}}.jpg" class="install-preparation-img"><br>
      </div>
      <div class="install-preparation-box">
        <h3>Install ADB & Fastboot</h3>
        <b>On Linux systems</b> with apt package manager
        <br><br>
        <pre><code class="bash">sudo apt install android-tools-adb android-tools-fastboot{{#if useSimg}} android-tools-fsutil{{/if}}</code></pre>
        <br>
        <b>On Windows systems</b> install this ADB driver <a href="https://adb.clockworkmod.com/">from clockworkmod</a>
        <br><br>
        <a class="btn btn-primary" href="http://download.clockworkmod.com/test/UniversalAdbDriverSetup.msi" role="button">UniversalAdbDriverSetup.msi</a>
        <br><br>
        Download this zip file containing ADB & Fastboot from Android SDK
        <br><br>
        <a class="btn btn-primary" href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip" role="button">adb-1_0_39+fastboot+ext2simg.zip</a>
        <br><br>
        Extract the content to a folder of your liking.<br>
        Navigate to that folder using Windows commandline (cmd.exe).
        <br><br>
      </div>

      <h1>Instructions</h1>
      <h3>1. Access and Unlock your bootloader</h3>
      Installing AsteroidOS requires an unlocked bootloader.

      <ol>
        {{#is enterFastbootVia 'swipe'}}
          <li>Turn your watch off.</li>
          <li>Turn your watch on.</li>
          <li>As soon as the {{manufacturer}} logo appears swipe from the top left to the bottom right of the screen.</li>
        {{else}} {{#is enterFastbootVia 'holdUntilLogo'}}
          {{!-- Currently the only watch which uses this is the Sony Smartwatch 3 --}}
          <li>Turn your watch off.</li>
          <li>Press and hold the power button until your watch says "Insert USB"</li>
          <li>Double press the button to get into the boot options</li>
          <li>Double press to select fastboot</li>
        {{else}} {{#is enterFastbootVia 'pressUpperAndMiddle'}}
          {{!-- Currently the only watch which uses this is the ZenWatch 3 --}}
          <li>Turn your watch off.</li>
          <li>Turn your watch on by pressing the top and middle buttons</li>
        {{else}}
          {{!-- ADB fallback --}}
          <img src="{{assets}}/img/install-1.jpg" class="install-centered-img"/>
          <li>Open the settings app and go to the "About" page.</li>
          <li>Tap the Build number 7 times until Developer options become enabled.</li>

          <img src="{{assets}}/img/install-2.jpg" class="install-centered-img"/>
          <li>Go back to the settings menu and then to the "Developer options" page.</li>
          <li>Enable ADB debugging.</li>
        {{/is}}{{/is}}{{/is}}
      
        <li>Finally, to unlock the bootloader enter the following commands in a terminal with your watch connected:
        <br><pre><code class="bash">{{#is enterFastbootVia 'adb'}}adb reboot bootloader
{{/is}}fastboot oem unlock</code></pre>
        Follow the instructions on your watch's screen. <b>Please note it may void your warranty.</b></li>
      </ol>
      <br><h3>2. Flash and boot AsteroidOS</h3>
        <div class="callout callout-warning">
          <h4>Choose your installation type</h4>
          <p>You can now decide if you want to replace Wear OS definitively or try AsteroidOS as a <i>dual-boot</i>. The "real installation" provides the best experience but it is advised to make a backup of your data first. The "temporary installation" is a good way to try AsteroidOS if you don't plan to use it daily.</p>
        </div>

        <ol>
          <b><li type="a">Real installation</li></b>
          While your watch is in bootloader mode, flash the userdata and boot partitions using Linux:
          <pre><code class="bash">{{#if useSimg}}ext2simg ~/Downloads/asteroid-image-{{deviceName}}.ext4 ~/Downloads/asteroid-image-{{deviceName}}.ext4.simg
fastboot flash userdata ~/Downloads/asteroid-image-{{deviceName}}.ext4.simg
{{else}}fastboot flash userdata ~/Downloads/asteroid-image-{{deviceName}}.ext4
{{/if}}fastboot flash boot ~/Downloads/zImage-dtb-{{deviceName}}.fastboot
fastboot continue</code></pre>

          or using Windows:
          <pre><code class="bash">{{#if useSimg}}ext2simg %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4 %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4.simg
fastboot flash userdata %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4.simg
{{else}}fastboot flash userdata %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4
{{/if}}fastboot flash boot %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceName}}.fastboot
fastboot continue</code></pre>

          <b><li type="a">Temporary installation</li></b>
          Reboot to Wear OS, re-enable developer mode and ADB debugging.
          <br>Push AsteroidOS to the internal sdcard using Linux:
          <pre><code class="bash">adb push -p ~/Downloads/asteroid-image-{{deviceName}}.ext4 /sdcard/asteroidos.ext4</code></pre>

          or using Windows:
          <pre><code class="bash">adb push -p %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4 /sdcard/asteroidos.ext4</code></pre>

          Everytime you want to reboot AsteroidOS from Wear OS, run:
          <pre><code>adb reboot bootloader</code></pre>
          Then, if you are using Linux:
          <pre><code>fastboot boot ~/Downloads/zImage-dtb-{{deviceName}}.fastboot</code></pre>
          or on Windows:
          <pre><code>fastboot boot %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceName}}.fastboot</code></pre>
          </ol>
        <br><h3>3. Enjoy your new OS!</h3><br><br>
        <h1>Troubleshooting & FAQ</h1><br>
        <ul>
          <li><b>Fastboot displays "invalid sparse file format at header magic" message when start flashing</b>
          <br>This is not a fatal error but expected behaviour. Keep calm and wait for the ~5 minute flash process to finish. Fastboot simply informed you that the partitions it is now flashing where not downloaded in a "sparse" format.</li>
          <br>
          <li><b>Flash fails with fastboot crashing or hanging at "invalid sparse file format at header magi" (missing the "c" in magic)</b>
          <br>This error often but strictly happend in our testing when using an old fastboot (& ADB below 1.0.39) on Windows systems. If you already had fastboot installed and skipped downloading our <a href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip">supplied zip file</a>, please do so now.<br>
          Either overwrite your current ADB & fastboot by extracting the zip into its folder. Or extract to a new folder instead (e.g. automatically to ...\adb_1_0_39+fastboot+ext2simg\) and change directory to that new folder.</li>
          <br>
          <li><b>Flash fails or stops during the ~5 minutes process</b>
          <br>Smartwatches are prown to loose proper connection to their cradle over time due to sweat corroding the watch pins. Especially on dory (LG G Watch) this is a regular problem.<br>
          Cleaning the pins with alcohol or even carefully sanding them (e.g. with a nailfile) can provide a reliable connection again.</li>
          <br>
          <li><b>Asus Zenwatch 2 flashed successfully but does not boot</b>
          <br>As you may have missed, there are two versions of the Asus Zenwatch 2, codenamed Sparrow and Wren.
          <br>Their images are not interchangeable. Make sure a second time you are using the right files.</li>
        </ul><br><br>
    </div>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>
