<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>
    {{!-- Docs master nav --}}
    {{> nav-main }}

    {{> install-header }}

    {{!-- Content --}}
    <div class="container docs-container">
      <h1>Hardware Support</h1>
      <p>Before installing AsteroidOS to your watch, make sure you are aware of the capabilities and limitations of AsteroidOS on the {{title}}. The following table should summarize the current support of this watch:</p>
      {{> body }}
      <p>You can report any hardware support issue <a href="https://github.com/AsteroidOS/meta-{{#if repo}}{{repo}}{{else}}{{deviceName}}{{/if}}-hybris/issues">here</a>.</p>
      <h1>Preparation</h1>
      <div class="install-preparation-box">
        <h3>Download AsteroidOS nightly builds</h3>
        Store the files in your "Downloads" folder so the later commands work<br><br>
        <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{deviceName}}/asteroid-image-{{deviceName}}.ext4" role="button">asteroid-image-{{deviceName}}.ext4</a>
        <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{deviceName}}/zImage-dtb-{{deviceName}}.fastboot" role="button">zImage-dtb-{{deviceName}}.fastboot</a>
        <br><br><img src="{{assets}}/img/{{deviceName}}.png" class="install-preparation-img"><br>
      </div>
      <div class="install-preparation-box">
        <h3>Install ADB & Fastboot</h3>
        <b>On Linux systems</b> with apt package manager
        <br><br>
        <pre><code class="bash">sudo apt install android-tools-adb android-tools-fastboot</code></pre>
        <br>
        <b>On Windows systems</b> install this ADB driver <a href="https://adb.clockworkmod.com/">from clockworkmod</a>
        <br><br>
        <a class="btn btn-primary" href="http://download.clockworkmod.com/test/UniversalAdbDriverSetup.msi" role="button">UniversalAdbDriverSetup.msi</a>
        <br><br>
        Download this zip file containing ADB & Fastboot from Android SDK
        <br><br>
        <a class="btn btn-primary" href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip" role="button">adb-1_0_39+fastboot+ext2simg.zip</a>
        <br><br>
        Extract the content to a folder of your liking.<br>
        Navigate to that folder using Windows commandline (cmd.exe).
        <br><br>
      </div>

      <h1>Instructions</h1>
      <h3>1. Unlock your bootloader</h3>
      Installing AsteroidOS requires an unlocked bootloader and entering the bootloader requires ADB in Wear OS.
      <br>Enable ADB on your watch with the following steps:
        <ol>
          <img src="{{assets}}/img/install-1.jpg" class="install-centered-img"/>
          <li>Open the settings app and go to the <b>System</b> and then <b>About</b> page.</li>
          <li>Tap the <b>Build number</b> 7 times until Developer options become available.</li>

          <img src="{{assets}}/img/install-2.jpg" class="install-centered-img"/>
          <li>Go back to the settings menu and then to the <b>Developer options</b> page.</li>
          <li>Enable <b>ADB debugging</b>.</li>
        </ol>
      <br><b>Finally, to unlock the bootloader</b> enter the following commands in a terminal with your watch connected:</li>
      <br><pre><code class="bash">adb reboot bootloader<br>fastboot oem unlock</code></pre>
      Follow the instructions on your watch's screen. <b>Please note it may void your warranty.</b>
      <br><br>
      <h3>2. Flash and boot AsteroidOS</h3>
        <div class="callout callout-warning">
          <h4>Choose your installation type</h4>
          <p>You can now decide if you want to replace Wear OS definitively or try AsteroidOS as a <i>dual-boot</i>. The "real installation" provides the best experience but it is advised to make a backup of your data first. The "temporary installation" is a good way to try AsteroidOS if you don't plan to use it daily.</p>
        </div>

        <ol>
          <b><li type="a">Real installation</li></b>
          While your watch is in bootloader mode, flash the userdata and boot partitions using Linux:
          <pre><code class="bash">fastboot flash userdata ~/Downloads/asteroid-image-{{deviceName}}.ext4
fastboot flash boot ~/Downloads/zImage-dtb-{{deviceName}}.fastboot
fastboot continue</code></pre>

          or using Windows:
          <pre><code class="bash">fastboot flash userdata %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4
fastboot flash boot %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceName}}.fastboot
fastboot continue</code></pre>

          <b><li type="a">Temporary installation</li></b>
          Reboot to Wear OS, re-enable developer mode and ADB debugging.
          <br>Push AsteroidOS to the internal sdcard using Linux:
          <pre><code class="bash">adb push -p ~/Downloads/asteroid-image-{{deviceName}}.ext4 /sdcard/asteroidos.ext4</code></pre>

          or using Windows:
          <pre><code class="bash">adb push -p %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4 /sdcard/asteroidos.ext4</code></pre>

          Everytime you want to reboot AsteroidOS from Wear OS, run:
          <pre><code>adb reboot bootloader</code></pre>
          Then, if you are using Linux:
          <pre><code>fastboot boot ~/Downloads/zImage-dtb-{{deviceName}}.fastboot</code></pre>
          or on Windows:
          <pre><code>fastboot boot %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceName}}.fastboot</code></pre>
          </ol>
        <br><h3>3. Enjoy your new OS!</h3><br><br>
    </div>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>
