<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>
    {{!-- Docs master nav --}}
    {{> nav-main }}

    {{> watches-header }}

    {{!-- Content --}}
    <div class="container docs-container">
      <h1>Hardware Support</h1>
      <p><br>You can report any hardware support issue <a href="https://github.com/AsteroidOS/meta-smartwatch/issues">here</a>. Use the label <code>{{#if label}}{{label}}{{else}}{{deviceNames.[0]}}{{/if}}</code> for issues specific to your watch.</p>
      {{#deviceNames}}
        <p>The following list shows the state of the features of the {{.}} version of this watch.</p>
        <div class="support-div">
        {{#with (getModel .)}}
          {{#features}}
              <div class="install-support-col {{status}}"><span class="tooltiptext">{{status}}</span>{{name}}</div>
          {{/features}}
        {{/with}}
        </div>
      {{/deviceNames}}
      <table class="table table-striped">
        <thead><tr><th>Model Number</th><th>Model Name</th><th>Codename</th></tr></thead>
        <tbody>
      {{#deviceNames}}
        {{#with (getModel .)}}
          {{#modelnumbers}}
            <tr><td>{{num}}</td><td>{{name}}</td><td>{{codename}}</td></tr>
          {{/modelnumbers}}
        {{/with}}
      {{/deviceNames}}
        </tbody>
      </table>
      {{> body }}
      {{#if deviceNames.[1]}}
      <h1>Choose your variant</h1>
      {{else}}
      <h1>Prepare installation</h1>
      {{/if}}
      {{#deviceNames}}
      <div class="install-preparation-box">
        <h3>Download AsteroidOS for {{.}}</h3>
        Store the files in your "Downloads" folder so the later commands work<br><br>
        <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{.}}/asteroid-image-{{.}}.ext4" role="button">asteroid-image-{{.}}.ext4</a>
        <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{.}}/zImage-dtb-{{.}}.fastboot" role="button">zImage-dtb-{{.}}.fastboot</a>
        <br><br><img src="{{../assets}}/img/{{.}}.png" class="install-preparation-img"><br>
      </div>
      {{/deviceNames}}
      {{#if deviceNames.[1]}}
      <h1>Prepare installation</h1>
      {{/if}}
      <div class="install-preparation-box">
        <h3>Install ADB & Fastboot</h3>
        <b>On Linux systems</b> with apt package manager
        <br><br>
        <pre><code class="bash">sudo apt install android-tools-adb android-tools-fastboot</code></pre>
        <br>
        <b>On Windows systems</b> install the Google USB driver
        <br><br>
        <a class="btn btn-primary" href="https://developer.android.com/studio/run/win-usb" role="button" target="_blank" rel="noopener noreferrer" title="Open download source in new tab or window">Get the Google USB Driver ZIP</a>
        <br><br>
        Download this zip file containing ADB & Fastboot from Android SDK
        <br><br>
        <a class="btn btn-primary" href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip" role="button">adb-1_0_39+fastboot+ext2simg.zip</a>
        <br><br>
        Extract the content to a folder of your liking.<br>
        Navigate to that folder using the Windows commandline (cmd.exe).
        <br><br>
      </div>
      <h1>Instructions</h1>

      {{#if installParts}}
        {{#each installParts as | partialName |}}
          {{> (partialName) assets=../assets deviceNames=../deviceNames}}
        {{/each}}
      {{else}}
        {{> install-unlock-adb-round }}
        {{> fullinstall }}
        {{> tempinstall }}
      {{/if}}

    {{> install-problems }}

    </div>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>
