<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>
    {{!-- Docs master nav --}}
    {{> nav-main }}

    {{> watches-header }}

    {{!-- Content --}}
    <div class="container docs-container">
      <table table-layout="fixed"><tr class="support-row"><th class="name-col">model</th><th class="name-col"></th>
      {{#each (getAllFeatures)}}
         <th class="rotated">{{.}}</th>
      {{/each}} 
      </tr>
      {{#each (getAllWithStatus "supported")}}
        <tr class="support-row"><td class="name-col"><a href="../{{#if reference}}{{reference}}{{else}}{{name}}{{/if}}">{{name}}</a></td>
          <td class="name-col">{{#starString stars 5}}{{/starString}}</td>
          {{#each (getAugmentedFeatures this (getAllFeatures))}}
              <td class="support-col {{.}}">
                <span class="tooltiptext">{{.}}</span>
              </td>
          {{/each}}
        </tr>
      {{/each}}
      {{#each (getAllWithStatus "experimental")}}
        <tr class="support-row"><td class="name-col"><a href="../{{#if reference}}{{reference}}{{else}}{{name}}{{/if}}"><mark>{{name}}</mark></a></td>
          {{#each (getAugmentedFeatures this (getAllFeatures))}}
              <td class="support-col {{.}}">
                <span class="tooltiptext">{{.}}</span>
              </td>
          {{/each}}
        </tr>
      {{/each}}
      </table>
      {{#markdown}}
        {{> body }}
      {{/markdown}}
    </div>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>
