<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>
    {{!-- Docs master nav --}}
    {{> nav-main }}

    {{> watches-header }}

    {{!-- Content --}}
    <div class="container docs-container">
     <h1>Hardware Support</h1>
      <p>The following list shows the state of the features of the {{title}}.<br>You can report any hardware support issue <a href="https://github.com/AsteroidOS/meta-smartwatch/issues">here</a>. Use the label <code>{{#if label}}{{label}}{{else}}{{deviceName}}{{/if}}</code> for issues specific to your watch.</p>
      <div class="support-div">
      {{#with (getModel deviceName)}}
          {{#features}}
              <div class="install-support-col {{status}}"><span class="tooltiptext">{{status}}</span>{{name}}</div>
          {{/features}}
      {{/with}}
      </div>
      <table class="table table-striped">
        <thead><tr><th>Model Number</th><th>Model Name</th><th>Codename</th></tr></thead>
        <tbody>
        {{#with (getModel deviceName)}}
          {{#modelnumbers}}
            <tr><td>{{num}}</td><td>{{name}}</td><td>{{codename}}</td></tr>
          {{/modelnumbers}}
        {{/with}}
        </tbody>
      </table>
      {{> body }}
      <h1>Prepare installation</h1>
      <div class="install-preparation-box">
        <h3>Download AsteroidOS nightly builds</h3>
        Store the files in your "Downloads" folder so the later commands work<br><br>
        <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{deviceName}}/asteroid-image-{{deviceName}}.ext4" role="button">asteroid-image-{{deviceName}}.ext4</a>
        <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{deviceName}}/zImage-dtb-{{deviceName}}.fastboot" role="button">zImage-dtb-{{deviceName}}.fastboot</a>
        <br><br><img src="{{assets}}/img/{{deviceName}}.png" class="install-preparation-img"><br>
      </div>
      <div class="install-preparation-box">
        <h3>Install ADB & Fastboot</h3>
        <b>On Linux systems</b> with apt package manager
        <br><br>
        <pre><code class="bash">sudo apt install android-tools-adb android-tools-fastboot</code></pre>
        <br>
        <b>On Windows systems</b> install the Google USB driver
        <br><br>
        <a class="btn btn-primary" href="https://developer.android.com/studio/run/win-usb" role="button" target="_blank" rel="noopener noreferrer" title="Open download source in new tab or window">Get the Google USB Driver ZIP</a>
        <br><br>
        Download this zip file containing ADB & Fastboot from Android SDK
        <br><br>
        <a class="btn btn-primary" href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip" role="button">adb-1_0_39+fastboot+ext2simg.zip</a>
        <br><br>
        Extract the content to a folder of your liking.<br>
        Navigate to that folder using the Windows commandline (cmd.exe).
        <br><br>
      </div>
      <h1>Instructions</h1>

      {{> install-unlock-adb-round }}

      <h2>2. Install and boot AsteroidOS</h2>
        <div class="callout callout-error">
          <h4>Only temporary installation supported</h4>
          <p>On most watches, you can decide if you want to replace Wear OS definitively or try AsteroidOS as a <i>dual-boot</i>. On the {{title}} the real installation is not supported and you can only try AsteroidOS as a dual-boot using the temporary installation method.</p>
        </div>

        <ol>
          <h3><li type="a">Temporary installation</li></h3>
          Reboot to Wear OS, re-enable developer mode and ADB debugging.
          <br>Push AsteroidOS to the internal sdcard using Linux:
          <pre><code class="bash">adb push -p ~/Downloads/asteroid-image-{{deviceName}}.ext4 /sdcard/asteroidos.ext4</code></pre>

          or using Windows:
          <pre><code class="bash">adb push -p %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4 /sdcard/asteroidos.ext4</code></pre>

          Everytime you want to reboot AsteroidOS from Wear OS, run:
          <pre><code>adb reboot bootloader</code></pre>
          Then, if you are using Linux:
          <pre><code>fastboot boot ~/Downloads/zImage-dtb-{{deviceName}}.fastboot</code></pre>
          or on Windows:
          <pre><code>fastboot boot %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceName}}.fastboot</code></pre>
          </ol>
        <h2>3. Enjoy your new OS!</h2><br><br>

    {{> install-problems }}

    </div>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>
