<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>
    {{!-- Docs master nav --}}
    {{> nav-main }}

    {{> watches-header }}

    {{!-- Content --}}
    <div class="container docs-container">
      <h1>Hardware Support</h1>
      <p><br>Please make sure to test all hardware functions of your watch in your current operating system to rule out hardware defects before installing AsteroidOS. You can report any hardware support issue <a href="https://github.com/AsteroidOS/meta-smartwatch/issues">here</a>. Use the label <code>{{#if label}}{{label}}{{else}}{{deviceName}}{{/if}}</code> for issues specific to your watch.</p>
      {{#deviceNames}}
        <p>The following list shows the state of the features of the <code>{{.}}</code> version of this watch.</p>
        <div class="support-div">
        {{#with (getModel .)}}
          {{#features}}
              <div class="install-support-col {{status}}"><span class="tooltiptext">{{status}}</span>{{name}}</div>
          {{/features}}
        {{/with}}
        </div>
      {{/deviceNames}}
      <table class="table table-striped">
        <thead><tr><th>Model Number</th><th>Model Name</th><th>Codename</th></tr></thead>
        <tbody>
      {{#deviceNames}}
        {{#with (getModel .)}}
          {{#modelnumbers}}
            <tr><td>{{num}}</td><td>{{name}}</td><td>{{codename}}</td></tr>
          {{/modelnumbers}}
        {{/with}}
      {{/deviceNames}}
        </tbody>
      </table>
      {{> body }}
      <h1>Choose your variant</h1>
      {{#deviceNames}}
      <div class="install-preparation-box">
        <h3>Download AsteroidOS for {{.}}</h3>
        Store the files in your "Downloads" folder so the later commands work<br><br>
        <p>
          <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{.}}/asteroid-image-{{.}}.ext4" role="button">asteroid-image-{{.}}.ext4</a>
          <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{.}}/zImage-dtb-{{.}}.fastboot" role="button">zImage-dtb-{{.}}.fastboot</a>
        </p>
        <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{.}}/MT6580_AsteroidOS_scatter-{{.}}.txt" role="button">MT6580_AsteroidOS_scatter-{{.}}.txt</a>
        <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{.}}/logo.bin" role="button">logo.bin</a>
        <br><br><img src="{{../assets}}/img/{{.}}.png" class="install-preparation-img"><br>
      </div>
      {{/deviceNames}}
      <h1>Prepare installation</h1>
      <div class="install-preparation-box">
        <h3>Install SPFlashTool</h3>
        SPFlashTool is a tool designed to flash Mediatek devices, you can <a href="https://spflashtool.com/download/">download its latest version from spflashtool.com</a>
        <br><br>
        <b>On Linux systems</b>
        <br><br>
        <a class="btn btn-primary" href="https://spflashtool.com/download/SP_Flash_Tool-5.1916_Linux.zip" role="button">SP_Flash_Tool-5.1916_Linux.zip</a>
        <br><br>
        Extract the content to a folder of your liking and run <i>flash_tool</i> as root.<br>
        <br>
        <b>On Windows systems</b>
        <br><br>
        <a class="btn btn-primary" href="https://spflashtool.com/download/SP_Flash_Tool-5.1916_Win.zip" role="button">SP_Flash_Tool-5.1916_Win.zip</a>
        <br><br>
        Extract the content to a folder of your liking and run <i>flash_tool.exe</i>.
        <br><br>
      </div>

      <h1>Install instructions</h1>
      <h3>1. Connect your watch</h3>
      Plug the USB cable of your watch to your computer, with the current operating system running.
      <h3>2. Setup SPFlashTool</h3>
      In SPFlashTool, select the <b>Download</b> tab, under <b>Scatter-loading File</b> choose the <b>MT6580_AsteroidOS_scatter-{{deviceName}}.txt</b> file you just downloaded.<br>
          Make sure you have a screen looking like the image below and then press <b>Download</b>.<br>
        <img src="{{assets}}/img/spflashtool-mtk6580.png" class="install-preparation-img"><br>
      <h3>3. Turn your watch off</h3>
          Long press the power button until the watch turns off. As soon as the watch is off, it should be detected by SPFlashTool which will then initiate the flashing sequence. This step might take a while.
      <h3>4. Turn your watch on</h3>
          Once the flashing is over, long press the power button until the watch boots to AsteroidOS.
      <h3>5. Enjoy your new OS!</h3><br><br>

    {{> install-problems }}

    </div>

    {{!-- Spacing to footer --}}
    <br><br>

    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>
