<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{default description site.description}}">
<meta name="author" content="The AsteroidOS Project">

<title>
  {{default title (titleize basename)}} - {{site.title}}
</title>

<!-- Main styles -->
<link href="{{ assets }}/css/index.css" rel="stylesheet">

<!-- Webfonts -->
<style type="text/css">
/* archivo-narrow-regular - latin-ext_latin */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Narrow Regular'), local('ArchivoNarrow-Regular'),
       url('/public/fonts/archivo-narrow-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/public/fonts/archivo-narrow-v8-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/public/fonts/archivo-narrow-v8-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/public/fonts/archivo-narrow-v8-latin-ext_latin-regular.svg#ArchivoNarrow') format('svg'); /* Legacy iOS */
}
</style>
<script type="text/javascript">
  document.getElementsByTagName("html")[0].setAttribute("class","wf-archivonarrow-n4-active wf-active");
</script>

<!-- Favicons -->
<link rel="shortcut icon" href="{{ assets }}/ico/favicon.ico">


<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stat.asteroidos.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
