{{#with this}}
<a href="{{#if reference}}{{reference}}{{else}}{{name}}{{/if}}">
  <div class="install-box">
    <img src="../public/img/{{name}}.png" class="install-watch-img"><br>
    <b>{{models}}</b><br>({{name}}{{#if othernames}}{{#othernames}}, {{.}}{{/othernames}}{{/if}})<br>
    <i>Support: {{#starString stars 5}}{{/starString}}</i><br>
    {{#if releasedate}} <i>Release date: <b>{{releasedate}}</b></i>{{/if}}
  </div>
</a>
{{/with}}