{{!-- Install and boot --}}

<h2>2. Install and boot AsteroidOS</h2>
<h3>2.1 Choose your installation type</h3>
<div class="radio-install">
  <input type="radio" name="MethSelector" value="Temp" id="MethSelectTemp" checked="checked">
  <label for="MethSelectTemp">Temporary install</label>
</div>
<p>Try AsteroidOS as a <i>dual-boot</i> by sideloading the AsteroidOS system image and boot it only temporarily.
<br>This a good way to try AsteroidOS if you don't plan to use it daily and intend to keep your previous OS.</p>
<div class="radio-install">
  <input type="radio" name="MethSelector" value="Real" id="MethSelectReal">
  <label for="MethSelectReal">Real install</label>
</div>
Replace WearOS definitively by flashing the system and boot image.
<br>The real installation provides the best experience but it is advised to make a backup of your data first.

<div name="LinTemp" style="display: block">
  <h3>2.2 Temporary installation using Linux</h3>
  Reboot to Wear OS, re-enable developer mode and ADB debugging like shown in steps 1.1.1 - 1.1.7.
  <br>Note, you can access the Wear OS settings app via long press of the power button already while the initial pairing screen is shown.
  <br><br>Push AsteroidOS to the internal sdcard:
  <pre><code class="bash">adb push -p ~/Downloads/asteroid-image-{{deviceName}}.ext4 /sdcard/asteroidos.ext4</code></pre>
  Everytime you want to reboot into AsteroidOS from Wear OS, run:
  <pre><code>adb reboot bootloader</code></pre>
  Then, while the watch is in fastboot bootloader mode:
  <pre><code>fastboot boot ~/Downloads/zImage-dtb-{{deviceName}}.fastboot</code></pre>
</div>

<div name="WinTemp" style="display: none">
  <h3>2.2 Temporary installation using Windows</h3>
  Reboot to Wear OS, re-enable developer mode and ADB debugging like shown in steps 1.1.1 - 1.1.7.
  <br>Note, you can access the Wear OS settings app via long press of the power button already while the initial pairing screen is shown.
  <br><br>Push AsteroidOS to the internal sdcard:
  <pre><code class="bash">adb push -p %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4 /sdcard/asteroidos.ext4</code></pre>
  Everytime you want to reboot into AsteroidOS from Wear OS, run:
  <pre><code>adb reboot bootloader</code></pre>
  Then, while the watch is in fastboot bootloader mode:
  <pre><code>fastboot boot %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceName}}.fastboot</code></pre>
</div>

<div name="LinReal" style="display: none">
  <h3>2.2 Real installation using Linux</h3>
  While your watch is in fastboot bootloader mode, flash the userdata partition:
  <pre><code class="bash">fastboot flash userdata ~/Downloads/asteroid-image-{{deviceName}}.ext4</code></pre>
  And the boot partition:
  <pre><code class="bash">fastboot flash boot ~/Downloads/zImage-dtb-{{deviceName}}.fastboot</code></pre>
  Then continue the boot process:
  <pre><code class="bash">fastboot continue</code></pre>
</div>

<div name="WinReal" style="display: none">
  <h3>2.2 Real installation using Windows</h3>
  While your watch is in fastboot bootloader mode, flash the userdata partition:
  <pre><code class="bash">fastboot flash userdata %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceName}}.ext4</code></pre>
  And the boot partition:
  <pre><code class="bash">fastboot flash boot %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceName}}.fastboot</code></pre>
  Then continue the boot process:
  <pre><code class="bash">fastboot continue</code></pre>
</div>
<h2>3. Enjoy your new OS!</h2><br><br>
