{{#deviceNames}}
      <div class="install-preparation-box">
        <h3>Download AsteroidOS for {{.}}</h3>
        Store the files in your "Downloads" folder so the later commands work<br>
        <a class="btn btn-primary download-link" style="margin-top: 10px;" href="https://release.asteroidos.org/nightlies/{{.}}/asteroid-image-{{.}}.rootfs.ext4" role="button">asteroid-image-{{.}}.rootfs.ext4</a>
        {{#if ../simg}}
        <a class="btn btn-primary download-link" style="margin-top: 10px;" href="https://release.asteroidos.org/nightlies/{{.}}/asteroid-image-{{.}}.rootfs.simg" role="button">asteroid-image-{{.}}.rootfs.simg</a>
        {{/if}}
        <a class="btn btn-primary download-link" style="margin-top: 10px;" href="https://release.asteroidos.org/nightlies/{{.}}/boot.img" role="button">boot.img</a>
        {{#if ../vendor_boot}}
        <a class="btn btn-primary download-link" style="margin-top: 10px;" href="https://release.asteroidos.org/nightlies/{{.}}/vendor_boot.img" role="button">vendor_boot.img</a>
        {{/if}}
        {{#if ../init_boot}}
        <a class="btn btn-primary download-link" style="margin-top: 10px;" href="https://release.asteroidos.org/nightlies/{{.}}/init_boot.img" role="button">init_boot.img</a>
        {{/if}}
        {{#if ../dtbo}}
        <a class="btn btn-primary download-link" style="margin-top: 10px;" href="https://release.asteroidos.org/nightlies/{{.}}/dtbo.img" role="button">dtbo.img</a>
        {{/if}}
        <br><br><img src="{{../assets}}/img/{{.}}.png" class="install-preparation-img"><br>
      </div>
{{/deviceNames}}
