<div class="install-preparation-box">
  <h3>Download AsteroidOS nightly builds</h3>
  Store the files in your "Downloads" folder so the later commands work<br><br>
  <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{deviceName}}/asteroid-image-{{deviceName}}.ext4" role="button">asteroid-image-{{deviceName}}.ext4</a>
  <a class="btn btn-primary" href="https://release.asteroidos.org/nightlies/{{deviceName}}/zImage-dtb-{{deviceName}}.fastboot" role="button">zImage-dtb-{{deviceName}}.fastboot</a>
  <br><br><img src="{{assets}}/img/{{deviceName}}.png" class="install-preparation-img"><br>
</div>
