{{!-- Unlock Adb Round --}}
<h2>1. Unlock your bootloader</h2>
<div class="callout callout-warning">
  <h4>Note</h4>
  Unlocking the bootloader may void your warranty.
  <br>The unlock process will trigger a factory reset of Wear OS. Backup any data you do not want to loose.
</div>
Installing AsteroidOS requires an unlocked bootloader.
<br>Accessing the fastboot bootloader menu on your watch can be achieved using ADB in Wear OS, as described below in step 1.1.
<br>If you are familiar with the manual method to access the bootloader menu, you can <a href="#skip-adb-unlock">skip to step 1.3</a>. Those methods are explained on the <a href="https://asteroidos.org/wiki/useful-commands/#boot-to-fastboot-bootloader-menu">useful commands page</a>.
<h3>1.1 Enable ADB on your watch</h3>
<div class="unlock-adb-wrapper">
  <div class="unlock-step-wrapper">
    <img src="{{assets}}/img/install-aw-01.webp" class="unlock-step-img">
    <div class="unlock-step-text">1. Open the <b>settings</b> app</div>
  </div>
  <div class="unlock-step-wrapper">
    <img src="{{assets}}/img/install-aw-02.webp" class="unlock-step-img">
    <div class="unlock-step-text">2. Open the <b>System</b> page</div>
  </div>
  <div class="unlock-step-wrapper">
    <img src="{{assets}}/img/install-aw-03.webp" class="unlock-step-img">
    <div class="unlock-step-text">3. Open the <b>About</b> page</div>
  </div>
  <div class="unlock-step-wrapper">
    <img src="{{assets}}/img/install-aw-04.webp" class="unlock-step-img">
    <div class="unlock-step-text">4. Tap the <b>Build number</b> 7 times to reveal Developer options</div>
  </div>
  <div class="unlock-step-wrapper">
    <img src="{{assets}}/img/install-aw-01.webp" class="unlock-step-img">
    <div class="unlock-step-text">5. Open the <b>Settings</b> app again</div>
  </div>
  <div class="unlock-step-wrapper">
    <img src="{{assets}}/img/install-aw-05.webp" class="unlock-step-img">
    <div class="unlock-step-text">6. Open the <b>Developer options</b> page</div>
  </div>
  <div class="unlock-step-wrapper">
    <img src="{{assets}}/img/install-aw-06.webp" class="unlock-step-img">
    <div class="unlock-step-text">7. Enable <b>ADB debugging</b></div>
  </div>
</div>
<h3>1.2 Reboot to fastboot bootloader mode</h3>
Enter the following ADB command in a terminal with your watch connected to USB.
<a id="skip-adb-unlock"></a>
<br><pre><code class="bash">adb reboot bootloader</code></pre>
<h3>1.3 Use fastboot to unlock the bootloader</h3>
With your watch now in fastboot mode, enter this command in a terminal to start the unlock procedure.
<pre><code class="bash">fastboot oem unlock</code></pre>
<h3>1.4 Follow the instructions on your watch's screen</h3><b>Please note again, this may void your warranty and will wipe your userdata.</b>
<br><br>
