{{!-- the trigger link --}}

<a class="icon ion-md-brush  source-link right" style="float: right;" href="https://github.com/AsteroidOS/asteroidos.org/blob/master/pages/wiki/{{this.basename}}.hbs" data-content="{{this.basename}}" target="_blank"></a>


{{!-- the popover link. this is dynamically inserted into the popover template by ./assets/public/js/application.js --}}
<a id="{{this.basename}}" href="https://github.com/AsteroidOS/asteroidos.org/edit/master/pages/wiki/{{this.basename}}.hbs" target="_blank">Edit the HTML of {{title}}
  <span class="icon ion-md-open"></span>
</a>
