        <h2>2. Install and boot AsteroidOS</h2>
        <div class="radio-install">
          <input type="radio" name="MethSelector" value="Temp" id="MethSelectTemp" checked="checked">
          <label for="MethSelectTemp">Temporary install</label>
        </div>
        <h4>Only temporary installation supported</h4>
        <p>On most watches, you can decide if you want to replace Wear OS definitively or try AsteroidOS as a <i>dual-boot</i>. On {{deviceNames.[0]}} the real installation is not supported and you can only try AsteroidOS as a <i>dual-boot</i> by sideloading the AsteroidOS system image and boot it only temporarily.
        <br>This a good way to try AsteroidOS if you don't plan to use it daily and intend to keep your previous OS.</p>

        <div name="LinTemp" style="display: block">
          <h3>2.2 Temporary installation using Linux</h3>
          Reboot to Wear OS, re-enable developer mode and ADB debugging like shown in steps 1.1.1 - 1.1.7.
          <br>Note, you can access the Wear OS settings app via long press of the power button already while the initial pairing screen is shown.
          <br><br>Push AsteroidOS to the internal sdcard:
          <pre><code class="bash">adb push -p ~/Downloads/asteroid-image-{{deviceNames.[0]}}.ext4 /sdcard/asteroidos.ext4</code></pre>
          Everytime you want to reboot into AsteroidOS from Wear OS, run:
          <pre><code>adb reboot bootloader</code></pre>
          Then, while the watch is in fastboot bootloader mode:
          <pre><code>fastboot boot ~/Downloads/zImage-dtb-{{deviceNames.[0]}}.fastboot</code></pre>
        </div>

        <div name="WinTemp" style="display: none">
          <h3>2.2 Temporary installation using Windows</h3>
          Reboot to Wear OS, re-enable developer mode and ADB debugging like shown in steps 1.1.1 - 1.1.7.
          <br>Note, you can access the Wear OS settings app via long press of the power button already while the initial pairing screen is shown.
          <br><br>Push AsteroidOS to the internal sdcard:
          <pre><code class="bash">adb push -p %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceNames.[0]}}.ext4 /sdcard/asteroidos.ext4</code></pre>
          Everytime you want to reboot into AsteroidOS from Wear OS, run:
          <pre><code>adb reboot bootloader</code></pre>
          Then, while the watch is in fastboot bootloader mode:
          <pre><code>fastboot boot %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceNames.[0]}}.fastboot</code></pre>
        </div>
