---
title: Hack your wrist
slug: index
lead: "AsteroidOS is an open-source operating system for smartwatches."
layout: content
---
<div class="index-header" id="content">
  <div class="container">
    <img src="{{assets}}/img/watch.png" height="600"><br>
    <h1>{{ title }}</h1>
    <p>{{ lead }}</p>
    <a class="btn btn-primary" href="{{rel 'about'}}" role="button">Learn more</a>
    <a class="btn btn-primary" href="{{rel 'install'}}" role="button">Get AsteroidOS</a>
  </div>
</div>
