---
title: Documentation
slug: documentation
layout: documentation
---

<div class="page-header">
  <h1 id="users">Users</h1>
</div>
<ul>
  <li><a href="{{rel 'wiki/translating-asteroidos'}}">Translating AsteroidOS</a></li>
  <li><a href="{{rel 'wiki/porting-status'}}">Porting Status</a></li>
  <li><a href="{{rel 'wiki/code-of-conduct'}}">Code of Conduct</a></li>
  <li><a href="{{rel 'wiki/bluetooth'}}">Bluetooth</a></li>
  <li><a href="{{rel 'wiki/ssh'}}">SSH</a></li>
  <li><a href="{{rel 'wiki/emulator'}}">Emulator</a></li>
  <li><a href="{{rel 'wiki/licenses'}}">Licenses</a></li>
</ul>

<div class="page-header">
  <h1 id="developers">Developers</h1>
</div>
<ul>
  <li><a href="{{rel 'wiki/creating-an-asteroid-app'}}">Creating an Asteroid app</a></li>
  <li><a href="{{rel 'wiki/watchfaces-creation'}}">Watchfaces creation</a></li>
  <li><a href="{{rel 'wiki/building-asteroidos'}}">Building AsteroidOS</a></li>
  <li><a href="{{rel 'wiki/porting-guide'}}">Porting Guide</a></li>
  <li><a href="{{rel 'wiki/boot-process'}}">Boot Process</a></li>
  <li><a href="{{rel 'wiki/openembedded'}}">OpenEmbedded</a></li>
  <li><a href="{{rel 'wiki/graphic-stack'}}">Graphic Stack</a></li>
</ul>

<div class="page-header">
  <h1 id="designers">Designers</h1>
</div>
Work in progress...
